* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
:root{
    --color-white-navbar:#f3f5fd;
    --color-white-content:#f9fafe;
    --color-pink:#e7434e;
    --color-gray-placeholder:#8d8d8d;
    --color-black:#343434;
    --color-gray-buttonBorder:#bdbdbd;
    --color-gray-footer:#404040;
    --color-gray-socailIconBackground:#717171;
    --color-blue-hrTag:#161554;
}
header{
    background-image: url("../assets/images/header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.heroSection__navbar{
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}
.heroSection__navbar__content{
    /* border: 2px solid blue ; */
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.heroSection__navbar__content a{
    border: 2px solid transparent;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    padding: .5em 1em;
}
.heroSection__navbar__content a:hover{
    border: 2px solid var(--color-gray-buttonBorder);
    padding: .5em 1em;
    background-color: rgba(255, 255, 255, 0.069);
}